body {
    font-family: 'Work Sans', sans-serif;

}

.button-section {
    width: 160px;
    height: 64px;
    font-size: 20px;
    border-radius: 5px;
    background: #F15B22;
    color: #fff;
    border: 0;
    font-weight: 600;

}

/* header style */
header {
    background-image: url("../images/banner/banner1.png");
    display: flex;
    justify-content: right;
    background-size: cover;
}

.banner-section {
    max-width: 500px;
    text-align: right;
    padding: 216px 230px 166px 845px;
}

.banner-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;
}

.banner-description {
    color: #444343;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    width: 494px;
    line-height: 25px;

}

/* main style  */
/* My failures of previous year section */
main {
    max-width: 1400px;
}

.My-failures {
    display: flex;
    justify-content: center;
}

.image {
    width: 500px;
    padding-top: 140px;
    padding-bottom: 130px;

}

.My-failures-are {
    width: 400px;
    padding-top: 270px;
    padding-bottom: 214px;
    margin-left: 110px;
}

.My-failures-are>h3 {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    width: 288px;
    padding-left: 37px;

}

.My-failures-description {
    text-align: left;
}

.My-failures-description p {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    width: 416px;
    padding-left: 37px;

}

.My-failures-description li {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.My-failures-description img {
    margin-bottom: -5px;

}

/* My Plans section */
.My-Plans-section {
    margin: 0 230px;
}

.my-plans-title {
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.my-plans-description {
    display: flex;
    justify-content: space-around;
}

.info {
    text-align: center;
}

.info>img {
    max-width: 95px;
}

.info h3 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}

.info p {
    color:#737272;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
}